body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,73,1) 50%, rgba(2,9,46,1) 100%);
}

main{
    display: flex;
    justify-content:center;
}

.border{
    border: 5px solid red;
}

.border-diff{
    border: 5px solid purple;
}

#gameboard{
    display: flex;
    min-height: 100vh;
    width: 70vw;
}

#progress{
    flex:1 2 10%;
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#progress > * {
    display: flex;
    width:100%;
    justify-content: space-between;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
}

#gameplay{
    flex:4 1 80%;
    display:flex;
    flex-direction: column;
}

#placeholder{
    flex: 4 1 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#questions-and-answers{
    flex: 3 1;
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}

#answers{
    display:flex;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 50%;
}

#question, #answer-placeholder {
    color: white;
    border: 2px solid #5d9ff5;
    background-color: black;
    font-family: monospace;
    font-size: 200%;
}

#question{
    min-height: 40%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

#answer-placeholder{
    flex: 1 1 40%;
    margin: 5px;
    text-align: start;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

#answer-placeholder > span {
    color: #f29435;
    font-style: italic;
}

#lifelines{
    display: flex;
    justify-content: center;
}

#lifelines > * {
    border: 4px solid #1c76eb;
    border-radius: 47%;
    flex-basis: 15%;
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: black;
}

.highlight {
    background: linear-gradient(90deg, rgba(233,158,6,1) 0%, rgba(238,144,4,1) 50%, rgba(254,155,7,1) 100%);
    color: black;
}

.correct {
    background-color: #3eed4f;
}

.startButton {
    background: linear-gradient(90deg, rgba(142,6,233,1) 0%, rgba(152,4,238,1) 50%, rgba(86,19,233,1) 100%);
    font-family: monospace;
    font-size: xx-large;
    color:white;
    border: 2px solid #033212;
    border-radius: 10%;
}