body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,88,1) 50%, rgba(3,13,64,1) 100%);
}

.border{
    border: 5px solid red;
}

.border-diff{
    border: 5px solid purple;
}

#gameboard{
    display: flex;
    min-height: 100vh;
}

#progress{
    flex:1 2 20%;
    display:flex;
    flex-direction: column-reverse;
    justify-content: start;
}

#gameplay{
    flex:4 1 80%;
    display:flex;
    flex-direction: column;
}

#placeholder{
    flex: 4 1 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#questions-and-answers{
    flex: 3 1;
    display:flex;
    flex-direction: column;

}

#answers{
    display:flex;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 90%;
}

#question, #answer{
    color: white;
    border: 5px solid #5d9ff5;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 200%;
}

#answer{
    flex: 1 1 40%;
    border: 5px solid #5d9ff5;
    margin: 5px;
    border-radius: 35%;
    text-align: center;
}

#lifelines{
    display: flex;
    justify-content: center;
}

#lifelines > * {
    border: 4px solid #1c76eb;
    border-radius: 47%;
    flex-basis: 15%;
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: black;
}

#progress > p{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}